<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty name="logHost" source="logstash.host" />
    <springProperty name="logstashEnabled" source="logstash.enabled" />

    <if condition='${logstashEnabled} == true'>
        <then>
            <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${logHost}:5000</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
    </if>

    <root level="INFO">
        <if condition='${logstashEnabled} == true'>
            <then>
                <appender-ref ref="logstash"/>
            </then>
        </if>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="io.slurm" level="INFO"/>
</configuration>